{% extends "layout.html" %}
{% block title %}SETS{% endblock %}
{% block page %}EnduranceEmpire{% endblock %}

{{ super() }}

{% block content %}
<body class="sets1">
    <div class="list-container">
        <h2> Set: {{set.name}} </h2>
        <br>
        <h3>Exercise List</h1>
        <ul>
            {% for cise in set.exercises %}
            <li>
                <a href="/exercise-info/{{cise.name}}"> {{cise.name}} </a>
            </li>
            {% endfor %}
        </ul>
    </div> 
    <a href="/app" id="backButton" class="btn1">Back</a>
</body>


{% endblock %}