{% extends "layout.html" %}
{% block title %}SIGNUP{% endblock %}
{% block page %}EnduranceEmpire{% endblock %}

{{ super() }}

{% block content %}
 <body  class = "Signup_page">
    <div class="content fill-space">
      <div class="subcontent center-vertical">
        <h4 class="center">Sign Up</h4>
    
        <form id="signupForm" method="POST" action="/signup" style="padding:1em">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Email" name="email" type="text" class="validate">
            <label for="email">Email</label>
            </div>
          </div>
      
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
            </div>
          </div>

          <div class="col s3 card-action right-align">
              <input type="submit" class="blue text-white btn" value="Sign up">
            </div>
          </div>
</body>
{% endblock %}
